*
!*/
!/app/src/main/**
!.gitignore
!README.md
!/app/build.gradle

#*.iml
#.gradle
#/local.properties
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#.DS_Store
#/build
#/captures
#.externalNativeBuild
